.container {
  display: grid;
  grid-template-columns: fit-content(1fr);
  grid-template-rows: fit-content(1fr) fit-content(2fr) fit-content(1fr);
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.header { grid-area: header; }

.main {
  display: grid;
  grid-template-columns: fit-content(1fr) fit-content(4fr) fit-content(4fr) fit-content(1fr);
  grid-template-rows: fit-content(1fr);
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "main-left cases_map vaccines_map main-right";
  grid-area: main;
}

.cases_map { grid-area: cases_map; }

.vaccines_map { grid-area: vaccines_map; }

.main-left { grid-area: main-left; }

.main-right { grid-area: main-right; }

.footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "cases_graph"
    "vaccines_graph";
  grid-area: footer;
}

.cases_graph { grid-area: cases_graph; }

.vaccines_graph { grid-area: vaccines_graph; }
