<!DOCTYPE html>
<!--[if lt IE 8]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
	<!--- Basic Page Needs
    ================================================== -->
	<meta charset="utf-8" />
	<title>Connor Brook</title>
	<meta name="description" content="" />
	<meta name="author" content="Connor Brook" />
	<meta property="og:title" content="Connor Brook - Data Science student" />
	<meta property="og:description" content="I really like neural networks." <meta property="og:type"
		content="website" />
	<meta property="og:image" content="/static/assets/img/avatars/me.png" />
	<meta property="og:url" content="https://www.connorData.Science" />

	<!-- Mobile Specific Metas
    ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

	<!-- CSS
    ================================================== -->
	<link rel="stylesheet" href="/static/css/default.css" />
	<link rel="stylesheet" href="/static/css/layout.css" />
	<link rel="stylesheet" href="/static/css/media-queries.css" />
	<link rel="stylesheet" href="/static/css/magnific-popup.css" />

	<!-- Script
    ================================================== -->
	<script src="/static/js/modernizr.js"></script>
	<script src="/static/js/typeit.index.umd.js"></script>

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="/static/favicon.png" />
</head>

<body>
	<div id="loading_screen"></div>
	<!-- Header
    ================================================== -->
	<header id="home">
		<nav id="nav-wrap">
			<a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
			<a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

			<ul id="nav" class="nav">
				<li class="current"><a class="smoothscroll" href="#home">Home</a></li>
				<li><a class="smoothscroll" href="#about">About</a></li>
				<li><a class="smoothscroll" href="#resume">Resume</a></li>
				<!--
					<li><a class="smoothscroll" href="#portfolio">Projects</a></li>
					-->
			</ul>
			<!-- end #nav -->
		</nav>
		<!-- end #nav-wrap -->

		<div class="row banner">
			<div class="banner-text">
				<h1 class="responsive-headline" id="type"></h1>
				<h3>
					I'm a third year Data Science student, passionate about all things
					data and machine learning. Look at some
					<a class="smoothscroll" href="#portfolio">stuff I've made! </a>
				</h3>
				<hr />
				<ul class="social">
					<li>
						<a href="https://linkedin.com/in/connorbrook"><i class="fa fa-linkedin"></i></a>
					</li>
					<li>
						<a href="https://github.com/Viibrant"><i class="fa fa-github"></i></a>
					</li>
				</ul>
			</div>
		</div>

		<p class="scrolldown">
			<a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
		</p>
	</header>
	<!-- Header End -->

	<!-- About Section
    ================================================== -->
	<section id="about">
		<div class="row">
			<div class="three columns">
				<img class="profile-pic" src="/static/images/profilepic.png" alt="" />
			</div>

			<div class="nine columns main-col">
				<h2>About Me</h2>

				<p>
					I am an adaptable, hardworking, and social individual currently in
					my final year of my degree, excited to strive towards my career aspirations of becoming a Research
					Scientist.
				</p>

				<div class="row">
					<div class="columns contact-details">
						<h2>Contact Details</h2>
						<p class="address">
							<span>Connor Brook</span><br />
							<span>Portsmouth </span><br />
							<span>connorbrook@googlemail.com</span>
						</p>
					</div>

					<div class="columns download">
						<p>
							<a href="/static/cv" class="button"><i class="fa fa-download"></i>View CV</a>
						</p>
					</div>
					<div class="skills">
						<ul>
							<li>Scikit-learn</li>
							<li>Tensorflow</li>
							<li>Pandas</li>
							<li>Numpy</li>
							<li>Flask</li>
							<li>Plotly & Dash</li>
							<li>Matplotlib</li>
							<li>Anaconda</li>
							<li>Jupyter</li>
							<li>git</li>
						</ul>
					</div>
				</div>
				<!-- end row -->
			</div>
			<!-- end .main-col -->
		</div>
	</section>
	<!-- About Section End-->

	<!-- Resume Section
    ================================================== -->
	<section id="resume">
		<!-- Education
      ----------------------------------------------- -->
		<div class="row education">
			<div class="three columns header-col">
				<h1><span>Education</span></h1>
			</div>

			<div class="nine columns main-col">
				<div class="row item">
					<div class="twelve columns">
						<h3>BSc (Hons) Data Science and Analytics</h3>
						<p class="info">
							University of Portmouth<span>&bull;</span>
							<em class="date">September 2020 - June 2024 (planned)</em>
							<br />
							<b>1st year average: 71%</b> <br />
							- Used R and ggplot2 to perform EDA on a Swedish Car Insurance
							Dataset, developing regression models to predict insurance costs
							based on factors such as:
							<i>Type of Vehicle, Age, Location.</i> <br />
							- Modelled and implemented a SmartPlug dashboard/system in Java,
							reinforcing my understanding of Object-Oriented programming
							paradigms in the process. <br />
							- Studied complex database concepts such as
							generalisation/inheritance, complex SQL queries, PostgreSQL.
						</p>
						<p>
							<b> 2nd year (current) </b> <br />
							- Currently learning Machine Learning algorithms for
							classification and regression e.g. KNearestNeighbours, Support
							Vector Machines, Random Forest, Decision Trees, clustering, etc.
						</p>
					</div>
				</div>
				<!-- item end -->

				<div class="row item">
					<div class="twelve columns">
						<h3>A Levels in Maths, Further Maths, Computer Science</h3>
						<p class="info">
							Roding Valley Sixth Form<span>&bull;</span>
							<em class="date">September 2018 - May 2020</em>
						</p>
						<p>
							- Maths & Further Maths - essential for Data Science (e.g.
							Statistics, Calculus, Linear Algebra) <br />
							- Computer Science - provides a strong foundation in
							programming/software engineering
							<br />
							Final year project: Applied YOLOv2 image recognition to a POS Self Checkout System

						</p>
					</div>
				</div>
				<!-- item end -->
			</div>
			<!-- main-col end -->
		</div>
		<!-- End Education -->

		<!-- Work
      ----------------------------------------------- -->
		<div class="row work">
			<div class="three columns header-col">
				<h1><span>Work</span></h1>
			</div>

			<div class="nine columns main-col">
				<div class="row item">
					<div class="twelve columns">
						<h3>Sales Assistant</h3>
						<p class="info">
							TJ Morris <span>&bull;</span>
							<em class="date">August 2018 - March 2020</em>
						</p>
						<p>
							- Delivered exceptional customer service, building rapport with
							the local community <br />
							- Able to maintain a level head in extremely stressful and fast
							paced situations, namely Christmas time <br />
							- Developed my communication skills, learning how to collaborate
							with colleagues in an intense environment <br />
							- Highly adaptable and dynamic as I volunteered to cover roles
							outside of my assigned duties from cleaning to managerial shifts
						</p>
					</div>
				</div>
				<!-- item end -->

				<div class="row item">
					<div class="twelve columns">
						<h3>Python Mentor (Volunteer)</h3>
						<p class="info">
							Debden Park High School <span>&bull;</span>
							<em class="date">September 2017 - June 2018</em>
						</p>

						<p>
							- Taught concepts such as conditionals, iteration,
							Object-Oriented programming, lambda functions <br />
							- Accelerated the development of my interpersonal and teaching
							skills, learning how to communicate technical concepts to a wide
							variety of students with different learning needs
						</p>
					</div>
				</div>
				<!-- item end -->
			</div>
			<!-- main-col end -->
		</div>
		<!-- End Work -->
	</section>
	<!-- Resume Section End-->

	<!-- Portfolio Section
    ================================================== -->
	<!-- 
		<section id="portfolio">
			<div class="row">
				<div class="twelve columns collapsed">
					<h1>Check Out Some of My Works.</h1>

					<div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">
						<div class="columns portfolio-item">
							<div class="item-wrap">
								<a href="#modal-01" title="">
									<img alt="" src="/static/images/portfolio/coffee.jpg" />
									<div class="overlay">
										<div class="portfolio-item-meta">
											<h5>Coffee</h5>
											<p>Illustrration</p>
										</div>
									</div>
									<div class="link-icon"><i class="icon-plus"></i></div>
								</a>
							</div>
						</div>

						<div class="columns portfolio-item">
							<div class="item-wrap">
								<a href="#modal-02" title="">
									<img alt="" src="/static/images/portfolio/console.jpg" />
									<div class="overlay">
										<div class="portfolio-item-meta">
											<h5>Console</h5>
											<p>Web Development</p>
										</div>
									</div>
									<div class="link-icon"><i class="icon-plus"></i></div>
								</a>
							</div>
						</div>

						<div class="columns portfolio-item">
							<div class="item-wrap">
								<a href="#modal-03" title="">
									<img alt="" src="/static/images/portfolio/judah.jpg" />
									<div class="overlay">
										<div class="portfolio-item-meta">
											<h5>Judah</h5>
											<p>Webdesign</p>
										</div>
									</div>
									<div class="link-icon"><i class="icon-plus"></i></div>
								</a>
							</div>
						</div>

						<div class="columns portfolio-item">
							<div class="item-wrap">
								<a href="#modal-04" title="">
									<img
										alt=""
										src="/static/images/portfolio/into-the-light.jpg"
									/>
									<div class="overlay">
										<div class="portfolio-item-meta">
											<h5>Into The Light</h5>
											<p>Photography</p>
										</div>
									</div>
									<div class="link-icon"><i class="icon-plus"></i></div>
								</a>
							</div>
						</div>

						<div class="columns portfolio-item">
							<div class="item-wrap">
								<a href="#modal-05" title="">
									<img alt="" src="/static/images/portfolio/farmerboy.jpg" />
									<div class="overlay">
										<div class="portfolio-item-meta">
											<h5>Farmer Boy</h5>
											<p>Branding</p>
										</div>
									</div>
									<div class="link-icon"><i class="icon-plus"></i></div>
								</a>
							</div>
						</div>

						<div class="columns portfolio-item">
							<div class="item-wrap">
								<a href="#modal-06" title="">
									<img alt="" src="/static/images/portfolio/girl.jpg" />
									<div class="overlay">
										<div class="portfolio-item-meta">
											<h5>Girl</h5>
											<p>Photography</p>
										</div>
									</div>
									<div class="link-icon"><i class="icon-plus"></i></div>
								</a>
							</div>
						</div>

						<div class="columns portfolio-item">
							<div class="item-wrap">
								<a href="#modal-07" title="">
									<img alt="" src="/static/images/portfolio/origami.jpg" />
									<div class="overlay">
										<div class="portfolio-item-meta">
											<h5>Origami</h5>
											<p>Illustrration</p>
										</div>
									</div>
									<div class="link-icon"><i class="icon-plus"></i></div>
								</a>
							</div>
						</div>

						<div class="columns portfolio-item">
							<div class="item-wrap">
								<a href="#modal-08" title="">
									<img alt="" src="/static/images/portfolio/retrocam.jpg" />
									<div class="overlay">
										<div class="portfolio-item-meta">
											<h5>Retrocam</h5>
											<p>Web Development</p>
										</div>
									</div>
									<div class="link-icon"><i class="icon-plus"></i></div>
								</a>
							</div>
						</div>
					</div>
				</div>
			-->
	<!-- Modal Popup
	      --------------------------------------------------------------- -->

	<div id="modal-01" class="popup-modal mfp-hide">
		<img class="scale-with-grid" src="/static/images/portfolio/modals/m-coffee.jpg" alt="" />

		<div class="description-box">
			<h4>Coffee Cup</h4>
			<p>
				Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,
				lorem quis bibendum auctor, nisi elit consequat ipsum, nec
				sagittis sem nibh id elit.
			</p>
			<span class="categories"><i class="fa fa-tag"></i>Branding, Webdesign</span>
		</div>

		<div class="link-box">
			<a href="http://www.behance.net" target="_blank">Details</a>
			<a class="popup-modal-dismiss">Close</a>
		</div>
	</div>
	<!-- modal-01 End -->

	<div id="modal-02" class="popup-modal mfp-hide">
		<img class="scale-with-grid" src="/static/images/portfolio/modals/m-console.jpg" alt="" />

		<div class="description-box">
			<h4>Console</h4>
			<p>
				Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,
				lorem quis bibendum auctor, nisi elit consequat ipsum, nec
				sagittis sem nibh id elit.
			</p>
			<span class="categories"><i class="fa fa-tag"></i>Branding, Web Development</span>
		</div>

		<div class="link-box">
			<a href="http://www.behance.net" target="_blank">Details</a>
			<a class="popup-modal-dismiss">Close</a>
		</div>
	</div>
	<!-- modal-02 End -->

	<div id="modal-03" class="popup-modal mfp-hide">
		<img class="scale-with-grid" src="/static/images/portfolio/modals/m-judah.jpg" alt="" />

		<div class="description-box">
			<h4>Judah</h4>
			<p>
				Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,
				lorem quis bibendum auctor, nisi elit consequat ipsum, nec
				sagittis sem nibh id elit.
			</p>
			<span class="categories"><i class="fa fa-tag"></i>Branding</span>
		</div>

		<div class="link-box">
			<a href="http://www.behance.net" target="_blank">Details</a>
			<a class="popup-modal-dismiss">Close</a>
		</div>
	</div>
	<!-- modal-03 End -->

	<div id="modal-04" class="popup-modal mfp-hide">
		<img class="scale-with-grid" src="/static/images/portfolio/modals/m-intothelight.jpg" alt="" />

		<div class="description-box">
			<h4>Into the Light</h4>
			<p>
				Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,
				lorem quis bibendum auctor, nisi elit consequat ipsum, nec
				sagittis sem nibh id elit.
			</p>
			<span class="categories"><i class="fa fa-tag"></i>Photography</span>
		</div>

		<div class="link-box">
			<a href="http://www.behance.net" target="_blank">Details</a>
			<a class="popup-modal-dismiss">Close</a>
		</div>
	</div>
	<!-- modal-04 End -->

	<div id="modal-05" class="popup-modal mfp-hide">
		<img class="scale-with-grid" src="/static/images/portfolio/modals/m-farmerboy.jpg" alt="" />

		<div class="description-box">
			<h4>Farmer Boy</h4>
			<p>
				Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,
				lorem quis bibendum auctor, nisi elit consequat ipsum, nec
				sagittis sem nibh id elit.
			</p>
			<span class="categories"><i class="fa fa-tag"></i>Branding, Webdesign</span>
		</div>

		<div class="link-box">
			<a href="http://www.behance.net" target="_blank">Details</a>
			<a class="popup-modal-dismiss">Close</a>
		</div>
	</div>
	<!-- modal-05 End -->

	<div id="modal-06" class="popup-modal mfp-hide">
		<img class="scale-with-grid" src="/static/images/portfolio/modals/m-girl.jpg" alt="" />

		<div class="description-box">
			<h4>Girl</h4>
			<p>
				Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,
				lorem quis bibendum auctor, nisi elit consequat ipsum, nec
				sagittis sem nibh id elit.
			</p>
			<span class="categories"><i class="fa fa-tag"></i>Photography</span>
		</div>

		<div class="link-box">
			<a href="http://www.behance.net" target="_blank">Details</a>
			<a class="popup-modal-dismiss">Close</a>
		</div>
	</div>
	<!-- modal-06 End -->

	<div id="modal-07" class="popup-modal mfp-hide">
		<img class="scale-with-grid" src="/static/images/portfolio/modals/m-origami.jpg" alt="" />

		<div class="description-box">
			<h4>Origami</h4>
			<p>
				Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,
				lorem quis bibendum auctor, nisi elit consequat ipsum, nec
				sagittis sem nibh id elit.
			</p>
			<span class="categories"><i class="fa fa-tag"></i>Branding, Illustration</span>
		</div>

		<div class="link-box">
			<a href="http://www.behance.net" target="_blank">Details</a>
			<a class="popup-modal-dismiss">Close</a>
		</div>
	</div>
	<!-- modal-07 End -->

	<div id="modal-08" class="popup-modal mfp-hide">
		<img class="scale-with-grid" src="/static/images/portfolio/modals/m-retrocam.jpg" alt="" />

		<div class="description-box">
			<h4>Retrocam</h4>
			<p>
				Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,
				lorem quis bibendum auctor, nisi elit consequat ipsum, nec
				sagittis sem nibh id elit.
			</p>
			<span class="categories"><i class="fa fa-tag"></i>Webdesign, Photography</span>
		</div>

		<div class="link-box">
			<a href="http://www.behance.net" target="_blank">Details</a>
			<a class="popup-modal-dismiss">Close</a>
		</div>
	</div>
	<!-- modal-01 End -->
	</div>
	<!-- row End -->
	</section>
	<!-- Portfolio Section End-->

	<!-- footer
    ================================================== -->
	<footer>
		<div class="row">
			<div class="twelve columns">
				<ul class="social-links">
					<li>
						<a href="https://linkedin.com/in/connor-brook"><i class="fa fa-linkedin"></i></a>
					</li>
					<li>
						<a href="https://github.com/Viibrant"><i class="fa fa-github"></i></a>
					</li>
				</ul>

				<ul class="copyright">
					<li>&copy; Connor Brook</li>
					<li>
						Source code available on
						<a href="https://github.com/Viibrant/connorData.Science/" title="GitHub"
							target="_blank">GitHub</a>
					</li>
				</ul>
			</div>

			<div id="go-top">
				<a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a>
			</div>
		</div>
	</footer>
	<!-- Footer End-->

	<!-- Java Script
  ================================================== -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script>
		window.jQuery ||
			document.write(
				'<script src="/static/js/jquery-1.10.2.min.js"><\/script>'
			);
	</script>
	<script type="text/javascript" src="/static/js/jquery-migrate-1.2.1.min.js"></script>

	<script src="/static/js/jquery.flexslider.js"></script>
	<script src="/static/js/waypoints.js"></script>
	<script src="/static/js/jquery.fittext.js"></script>
	<script src="/static/js/magnific-popup.js"></script>
	<script src="/static/js/init.js"></script>
</body>

</html>