<!doctype html>
<html lang="en">
  {{ js_resources|indent(4)|safe }}
  {{ css_resources|indent(4)|safe }}
  {{ plot_script|indent(4)|safe }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
  <script type="text/javascript"
          src="{{ url_for('static', filename='index.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
   
  <head>
    <meta name="viewport" charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>UK Coronavirus Statistics</title>
  </head>
 
  <body>
    <div class="container">
      <div class="header">
        <h1> Placeholder Title </h1>
      </div>

      <div class="main">
        <div class="cases_map">
        {{plot_div.cases_map|indent(4)|safe }}
        </div>
        <div class="vaccines_map">
        {{plot_div.vaccines_map|indent(4)|safe }}
        </div>
        <div class="main-left"></div>
        <div class="main-right"></div>
      </div>
      
      <div class="footer">
        <div class="cases_graph">
          {{plot_div.cases_plot|indent(4)|safe }}
        </div>
        <div class="vaccines_graph">
          {{plot_div.vaccines_plot|indent(4)|safe }}

        </div>
      </div>
    </div>
  </body>
</html>